#step-II,
#step-III,
#step-IV,
#step-V,
#step-VI,
#step-vote
 {
  display: none;
}

#download-election-package-button{
  display: none;
}

body{
  height: fit-content;
}


#bg{
  background: url('../img/gato.jpg'), no-repeat,fixed;
  background-size: cover;
  height: 100%;
  height: 100%;
  
}

#logo-div {
  background-color: yellow;
  height: fit-content;
  width: 100vw;
}

#content {
  position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    height: 100%;
    height: 100%;
    background:rgba(255,255,255,0.3);
  /* background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.1)), url('../img/gato.jpg') no-repeat 0% 20%/ cover; */
}

button{
  margin: 15px;
}


/* #get-organization-list-button,
#download-election-package-button,
#import-election-button,
#export-election-button,
#get-election-list-button, */

#usbs{
  font-size: 1.7em;
}
#usbs2{
  font-size: 1.7em;
}

input{
  font-size: 1.7em;
}