input {
  width: 45vw;
  height: 10vh;
}

label {
  font-size: 4em;
}


#usbs input, #usbs_export input, #usbs2 input {
  width: initial;
  height: initial;
}

#usbs label, #usbs_export label, #usbs2 label {
  font-size: initial;
}
