input {
  width: 45vw;
  height: 10vh;
  font-size: 1.7em;
}

label {
  font-size: 4em;
}


#usbs input, #usbs_export input, #usbs2 input {
  /* width: initial;
  height: initial; */
  font-size: 1.8em;
}

#usbs label, #usbs_export label, #usbs2 label {
  font-size: 1.8em;
}
