/* #load-questions-button,
#step-II-2,
#voting-token-button,
#voting-token-input,
#step-I, */
#step-II,
#step-III,
#step-IV,
#step-V ,
#step-vote,
#step-check-verifier-password-before-ending,
#step-export-votes {
  display: none;
}

button{
  margin: 15px;
}

select{
  font-size: larger;
}

.texture{
  max-width: 100%;
  max-height: 100%;
}
